QPlainTextEdit, QTextEdit { background-color: #2b303b;
        color: #c0c5ce;
        selection-background-color: #4f5b66;
        selection-color: #c0c5ce; }
.error { color: #bf616a; }
.in-prompt { color: #8fa1b3; text-decoration: underline; }
.in-prompt-number { font-weight: bold; }
.out-prompt { color: #bf616a; text-decoration: underline; }
.out-prompt-number { font-weight: bold; }
.inverted { background-color: #4f5b66; color: #c0c5ce; }
