QPlainTextEdit, QTextEdit { background-color: #0d152c;
                            color: #ffffff;
                            selection-background-color: #36528a;
                            selection-color: #ffffff;
                           }
.inverted { background-color: #586E75; color: #93a1a1;}
.error { color: #370B22; }
.in-prompt { color: #888888; }
.in-prompt-number { color: #888888; }
.out-prompt { color: #888888; }
.out-prompt-number { color: #888888; }
