QPlainTextEdit, QTextEdit {
    background-color: #fafafa;
    color: #212121;
    selection-background-color: #90a4ae;
    selection-color: #212212; }
.error { color: #b71c1c; }
.in-prompt { color: #558b2f; text-decoration: underline; }
.in-prompt-number { font-weight: bold; }
.out-prompt { color: #4527a0; text-decoration: underline; }
.out-prompt-number { font-weight: bold; }
.inverted { background-color: #90a4ae; color: #211211; }
