QPlainTextEdit, QTextEdit { background-color: #272822;
        color: #f8f8f2;
        selection-background-color: #383830; }
.error { color: #960050; }
.in-prompt { color: #a6e22e; text-decoration: underline; }
.in-prompt-number { font-weight: bold; }
.out-prompt { color: #fd971f; text-decoration: underline; }
.out-prompt-number { font-weight: bold; }
.inverted { background-color: #383830; color: #f8f8f2; }
