QPlainTextEdit, QTextEdit { background-color: #fafafa;
        color: #4d4d4c;
        selection-background-color: #d6d6d6;}
.inverted { background-color: #657b83; color: #fdf6e3;}
.error { color: #c82829; }
.in-prompt { color: #718c00; }
.in-prompt-number { font-weight: bold; }
.out-prompt { color: #8959a8; }
.out-prompt-number { font-weight: bold; }
